__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.git/
.gitignore
Dockerfile
.dockerignore

*.log
.pytest_cache/
.cache/
.mypy_cache/
.ruff_cache/
.eggs/
*.egg-info/
dist/
build/
__pypackages__/

instance/
htmlcov/
